body {
  padding-left: 15em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: purple;
  background-color: #eef21c;
  width: 1000px;
  height: 1000px;
}
ul.deck {
  list-style-type: none;
  padding: 0;
  margin: 10;
  position: absolute;
  top: 1em;
  left: 1em;
  width: 10em;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
ul.deck li {
  background: white;
  margin: 1em;
  padding: 0.5em;
  border-right: 1em solid black;
}
address {
  margin-top: 1em;
  padding-top: 5em;
  border-top: thin dotted;
}
